/* .user_page_con
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: green dashed 1px;
}

.user_page_avatar
{
    width: 100px;
    height: 100px;
}

.user_page_avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */